* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
body {
background-color: black;

}
main {
    
    width: 100%;
    height: 500px;
    border: 1px solid red;
    position: relative;
}

.box {
width: 50px;
height: 50px;
background-color: white;

}

#box1{
    position: absolute;
    background-color: red;
    left: 0;
    bottom: 0;


}

#box2{
    position: absolute;
    background-color: green;
    right: 0;
    bottom: 0;


}
#box3{
    position: absolute;
    background-color: purple;
    right: 0;
    bottom: 10;


}

#box4{
    position: absolute;
    background-color: orangered;
    right: 10;
    bottom: 10;


}