* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body {

 background-color: black;
}

main {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 1000vh;
}

section {
display: grid;
gap: 10px;
border: 3px solid red;
grid-template-columns: repeat(3, 50px);
}

.box {
   width: 30px;
   height: 30px;
   background-color: #c2c2c2;
}
