h1 {
    color: red
}

#h2-maior { 
    font-size: 48px
}

.h2-vermelho { 
    font-size: 48px
}

#ingredientes{
 background-color: rgba(0, 128, 0, 0.395);
 font-family: sans-serif;
 font-size: 24px;
}

#modo-de-preparo{
    background-color: rgba(0, 76, 255, 0.469);
}