*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#flags{
    width: 100vw;
    height: 300px;
    background-color: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px
}
.bg-white{
    background-color: white ;
}



.flag{
    width: 120px;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bandeira do japão */
#japan{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}

#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}

#bar-green{ 
    width: 40px;
    height: 100%;
    background-color: green;

}


/* Bandeira da frança */
#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}

#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;

}

#bar-blue{
    width: 40px;
    height: 100%;
    background-color: blue;

}

/* Bandeira da alemanha */

#bar-red-horizon{
    width: 120px;
    height: 40px;
    background-color: red;

}

#bar-yellow-horizon {
width: 120px;
    height: 40px;
    background-color: yellow;


}
#bar-black-horizon {

    width: 120px;
    height: 40px;
    background-color: black;

}

.flag-horizon{

    display: flex;
    flex-direction: column;
}

